
__pycache__
**/*.pdf
**/*.toc
**/*.bbl
**/*.blg
**/*.out
**/*.aux
**/*.log
**/*.gz
**/*.pyc
**/*.fls
**/*.fdb_latexmk

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Large folders or files that change frequently
data/
output/
ecg_noise/
logs/
**configs/

#ide
.vscode/*
